// If you want to make podium transparent
@opacity: 100%;

div#podiumwrapper {
  @media only screen and (min-device-width:768px) {
    top: 16%;
  }
  @media only screen and (max-device-width:768px) {
    height: 100%;
  }
  width: 100%;
  margin: auto;
  position: fixed;
  z-index: 9999999;
  display: none;
  div#podium {
    @media only screen and (min-device-width:768px) {
      width: 420px;
      border: 1px solid @base-color;
    }
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    overflow-y: auto;
    margin: 0 auto;
    box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.4);
    background-color: fade(white, @opacity);
    mark {
      background-color: @content-color-40;
      color: inherit;
    }
    div#podiuminput {
      background-color: fade(@content-color-20, @opacity);
      .retina-background-icon('grey/search.png');
      background-repeat: no-repeat;
      background-position: center left 8px;
      input {
        width: 100%;
        box-sizing: border-box;
        background-color: transparent;
        border: 0;
        appearance: none;
        outline: none;
        font-size: 20px;
        padding: 12px 32px;
        &.podium_ajax {
          background-image: url("@{image-path}/ajax_indicator_small.gif");
          background-repeat: no-repeat;
          background-position: center right 8px;
        }
      }
    }
    div.podium_help {
      padding: 4px;
      border-top: solid @light-gray-color 1px;
      h1 {
        margin-bottom: 2px;
      }
      dl {
        margin: 0;
        dt {
          font-size: 1.1em;
          font-weight: bold;
        }
      }
    }
    ul {
      list-style: none;
      padding: 0;
      cursor: pointer;
      cursor: hand;
      overflow-y: auto;
      li {
        & > p {
          background-color: fade(@content-color, @opacity);
          border-top: solid @light-gray-color 1px;
          border-bottom: solid @light-gray-color 1px;
          color: white;
          padding-left: 2px;
          font-size: 12px;
          margin: 0;
        }
        ul {
          li {
            position: relative;
            date {
              position: absolute;
              top: 0;
              right: 2px;
              color: @light-gray-color;
              font-size: 0.6em;
            }
            div {
              overflow: hidden;
            }
            a {
              display: flex;
              padding: 6px;
              word-wrap: break-word;
              &.selected {
                background: fade(@base-color-40, @opacity);
              }
              img {
                margin-right: 8px;
                max-height: 40px;
              }
            }
            p {
              margin: 0;
              & + p {
                color: @dark-gray-color;
                font-size: 0.7em;
                //word-wrap: break-word;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
              }
            }
            & + li {
              border-top: 1px solid @light-gray-color;
            }
          }
          &:hover {
            li.selected {
              &.selected {
                background-color: inherit;
              }
            }
            li:hover {
              background: @base-color-40 !important;
            }
          }
        }
        &:not(.expand) {
          ul[data-maxsize='3'] li:nth-child(n+4) {
            display: none;
          }
          ul[data-maxsize='2'] li:nth-child(n+3) {
            display: none;
          }
          ul[data-maxsize='1'] li:nth-child(n+2) {
            display: none;
          }
        }
        &.collapse {
          display: none;
        }
      }
      &:not(:empty) + div.podium_help {
        display: none;
      }
    }
  }
}

img#podiumicon {
  height: 16px;
  width: 16px;
  display: none;
  padding: 4px;
  cursor: pointer;
  vertical-align: middle;
  margin-top: -3px;
  &.visible {
    background-color: rgba(255,255,255, 0.3);
  }
}

ul#podium_modules {
  list-style-type: none;
  padding: 0;

  li {
    margin-top: 4px;
    border: solid @content-color 1px;

    input {
      float: left;
      margin: 14px;
      &:checked + label {
        background: @content-color-20;
      }
    }
    label {
      padding: 10px;
    }
  }
}

@media print {
  div#podiumwrapper {
    display: none !important;
  }
}